//
// IMPORTS
@use "./reset";
@use "./variables";
@use "./mixins";

// ! here and below we use common styles as well
// ! if you have to, add modifier
// ! if you have offers - please, write your comments without redact
// ! if you need it - please, add your properties to this style and use comments

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff),
    url(../fonts/Montserrat-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.woff), url(../fonts/Montserrat-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Regular.woff), url(../fonts/Lato-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Bold.woff), url(../fonts/Lato-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-BoldItalic.woff), url(../fonts/Lato-BoldItalic.woff2);
  font-style: italic;
  font-weight: 700;
}

//
// BASIC styles
body {
  @include mixins.font-main-regular;
}

.container {
  margin: 0 auto;
  padding: 0px variables.$padding-container;

  @media only screen and (max-width: 320px) {
    min-width: 320px;
  }

  // @media only screen and (min-width: 1201px) {
  //   padding: 0px;
  // }
}

//
// Header
.button,
.main-block__headline,
.main-block__headline-text,
.block-text,
.advantage__headline,
.prices__headline {
  text-transform: capitalize;
}

// ! for your button to (common style for all buttons)
.button {
  width: 119px;
  height: 37px;
  background-color: variables.$bg-color-page-main;
  border-radius: 40px;
  @include mixins.flexbox(center, center, row);
  color: variables.$fonts-color-headers-main;
  @include mixins.font-main-stress;
  font-size: variables.$fonts-size-s-m;
  line-height: variables.$fonts-line-height-s-s;

  @media only screen and (min-width: 481px) {
    width: 145px;
    height: 38px;
  }
}

//
// Main block
.main-block {
  background-image: url(../images/pictures/main.webp);
  background-position-x: center;
  background-repeat: no-repeat;
  background-position-y: 79%;
  height: 630px;

  @media only screen and (max-width: 320px) {
    background-size: 448%;
  }
  @media only screen and (min-width: 481px) {
    height: 682px;
    background-position-y: 95%;
  }
  @media only screen and (min-width: 993px) {
    background-position-y: 100%;
  }
  @media only screen and (min-width: 1201px) {
    background-size: 101%;
    background-position-y: 79%;
  }

  &__headline-wrapper {
    padding-top: 49px;

    @media only screen and (min-width: 481px) {
      padding-top: 69px;
    }
  }

  &__headline {
    @include mixins.font-main-stress;
    font-size: variables.$fonts-size-xl-m;
    line-height: variables.$fonts-line-height-l-xxl;
    color: variables.$fonts-color-headers-main;

    @media only screen and (min-width: 481px) {
      font-size: variables.$fonts-size-xxl-m;
      line-height: variables.$fonts-line-height-xl-l;
    }
    @media only screen and (min-width: 993px) {
      font-size: variables.$fonts-size-xxl-l;
      line-height: variables.$fonts-line-height-xl-xl;
    }
  }

  &__headline-text {
    font-size: variables.$fonts-size-s-xl;
    line-height: variables.$fonts-line-height-m-xl;
    color: variables.$fonts-color-main;
    margin-top: 21px;
    height: 52px;

    @media only screen and (min-width: 481px) {
      @include mixins.font-secondary-regular;
      font-size: variables.$fonts-size-m-m;
    }

    @media only screen and (min-width: 993px) {
      font-size: variables.$fonts-size-l-s;
      line-height: variables.$fonts-line-height-l-xs;
    }

    > span {
      display: block;
      font-size: variables.$fonts-size-s-s;
      line-height: variables.$fonts-line-height-s-xs;
      color: variables.$fonts-color-text;
      margin-top: 17px;

      @media only screen and (min-width: 481px) {
        margin-top: 19px;
        @include mixins.font-main-regular;
      }
      @media only screen and (min-width: 993px) {
        font-size: variables.$fonts-size-s-l;
        line-height: variables.$fonts-line-height-s-m;
      }
    }
  }

  &__button-wrapper {
    background-color: variables.$bg-color-page-main-background;
    height: 78px;
    margin-top: -18px;
    position: relative;

    @media only screen and (min-width: 481px) {
      margin-top: 0px;
    }
  }

  &__button-wrapper a {
    position: absolute;
    left: 50%;
    top: -22.5px;
    transform: translate(-50%);

    @media only screen and (min-width: 481px) {
      top: -31px;
    }
  }
}

.main-block,
.block-text,
.repo-details-section,
.advantages__headline,
.advantage__headline,
.advantage__paragraph,
.prices__headline,
.prices__headline {
  text-align: center;
}

.main-block__headline-text > span,
.repo-details-section__header,
.button--prices,
.prices__price__headline,
.block-text--prices {
  text-transform: uppercase;
}

.button--main-block {
  width: 290px;
  height: 45px;
  font-size: variables.$fonts-size-s-xl;
  line-height: variables.$fonts-line-height-m-xs;

  &:hover {
    border-width: 2px;
  }

  @media only screen and (min-width: 481px) {
    width: 390px;
    height: 62px;
    font-size: variables.$fonts-size-m-s;
    line-height: variables.$fonts-line-height-m-l;
  }
  @media only screen and (min-width: 993px) {
    line-height: variables.$fonts-line-height-m-m;
  }
}

.block-text {
  font-size: variables.$fonts-size-s-s;
  line-height: variables.$fonts-line-height-s-xs;
  color: variables.$fonts-color-text;
}

.block-text--under-main-block {
  padding-top: 36.5px;

  @media only screen and (min-width: 481px) {
    line-height: variables.$fonts-line-height-s-m;
    padding-top: 53.5px;
  }
  @media only screen and (min-width: 993px) {
    line-height: variables.$fonts-line-height-s-s;
    padding-top: 54px;
  }
}

//
// Repository details block - "Revolutionary editor"
.repo-details-section,
.advantages,
.advantage {
  @include mixins.flexbox(space-between, center, column);
}

.repo-details-section {
  margin: 47px 0px 88px;

  @media only screen and (min-width: 481px) {
    line-height: variables.$fonts-line-height-s-m;
    margin: 88px 0px 159px;
  }
  @media only screen and (min-width: 993px) {
    line-height: variables.$fonts-line-height-s-s;
    margin: 60.5px 0px 70px;
  }

  &-wrapper {
    margin: 0 auto;
    min-width: 320px;
    @media only screen and (min-width: 993px) {
      margin: 0 auto;
      width: 906px;
    }
  }

  &__header {
    @include mixins.font-main-stress;
    font-size: variables.$fonts-size-m-l;
    line-height: variables.$fonts-line-height-m-xxxl;
    color: variables.$fonts-color-headers-secondary;

    @media only screen and (min-width: 481px) {
      font-size: variables.$fonts-size-xl-s;
      line-height: variables.$fonts-line-height-l-l;
    }
    @media only screen and (min-width: 993px) {
      font-size: variables.$fonts-size-xl-l;
      line-height: variables.$fonts-line-height-xl-s;
    }
  }

  &__text {
    padding: 21px 23px 22px;
    @include mixins.font-secondary-regular;
    font-size: variables.$fonts-size-s-s;
    line-height: variables.$fonts-line-height-m-xs;
    color: variables.$fonts-color-headers-small;

    @media only screen and (min-width: 481px) {
      padding: 28px 39px 41px;
      font-size: variables.$fonts-size-m-s;
      line-height: variables.$fonts-line-height-l-s;
    }
    @media only screen and (min-width: 993px) {
      padding: 35px 0px 30px;
    }
  }

  &__details {
    flex-wrap: wrap;
    @include mixins.flexbox(center, center, row);
    height: 88px;
    gap: 0px 10px;

    @media only screen and (min-width: 481px) {
      height: 100%;
    }
  }
}

.repo-details,
.repo-details__icon-wrapper {
  @include mixins.flexbox(space-between, center, row);
}

.repo-details {
  width: 120px;
  height: 26px;
  border: 1px solid rgba(31, 35, 40, 0.15);
  border-radius: 6px;

  &__icon-wrapper {
    border-right: 1px solid rgba(31, 35, 40, 0.15);
    background: linear-gradient(hsl(0, 0%, 99%), hsl(240, 3%, 94%));
    padding-left: 8px;
    width: 70px;
  }

  &__text {
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: variables.$fonts-size-s-xs;
    line-height: variables.$fonts-line-height-m-xs;
    text-align: center;
    width: 50px;
  }
}

.repo-details__icon-wrapper,
.repo-details_tex {
  height: 100%;
}

//
// Advantages block - "Here is what you get"
.advantages {
  padding: 0px 15px;

  // @media only screen and (min-width: 481px) {
  //   padding: 0px 30px;
  // }
  @media only screen and (min-width: 993px) {
    width: 540px;
    grid-area: list-advantages;
  }
  @media only screen and (min-width: 1201px) {
    padding-right: 0px;
  }

  &-background {
    min-width: 320px;
    @media only screen and (min-width: 993px) {
      background-color: variables.$bg-color-page-block-light;
    }
  }

  &-wrapper {
    display: grid;
    grid-template-columns: 1fr;

    @media only screen and (min-width: 993px) {
      grid-template-areas:
        "list-advantages headline"
        "list-advantages picture";
      padding: 94px 0px 33px;
      padding-left: 3%;
    }
    @media only screen and (min-width: 1201px) {
      padding-left: 0px;
      width: 1200px;
      margin: 0 auto;
      column-gap: 49px;
    }
  }

  &__headline {
    @include mixins.font-main-stress;
    font-size: variables.$fonts-size-l-m;
    line-height: variables.$fonts-line-height-l-m;
    color: variables.$fonts-color-main;
    margin-bottom: 36px;

    @media only screen and (min-width: 481px) {
      font-size: variables.$fonts-size-xl-s;
      line-height: variables.$fonts-line-height-l-xl;
      margin-bottom: 49px;
    }
    @media only screen and (min-width: 993px) {
      font-size: variables.$fonts-size-xl-m;
      line-height: variables.$fonts-line-height-xl-xs;
      grid-area: headline;
      margin-bottom: 0px;
      margin-left: 20px;
      padding: 0px;
      text-align: start;
    }
  }

  &__headline::before {
    content: "<";
  }

  &__headline::after {
    content: ">";
  }

  &__image {
    margin-top: 21px;

    @media only screen and (max-width: 480px) {
      overflow: hidden;
      margin-left: 10px;
    }
    @media only screen and (min-width: 481px) {
      @include mixins.flexbox(flex-end, flex-start, row);
      width: 100%;
      padding-left: 23px;
    }
    @media only screen and (min-width: 993px) {
      grid-area: picture;
      display: block;
      margin-top: 0px;
      padding-left: 0px;
    }

    & > img {
      width: 100%;

      @media only screen and (max-width: 480px) {
        width: 165%;
        height: 381px;
      }
    }
  }
}

.advantage {
  margin-bottom: 37px;

  @media only screen and (min-width: 481px) {
    @include mixins.flexbox(space-between, center, row);
  }
  @media only screen and (min-width: 993px) {
    margin-bottom: 33px;
  }

  &__icon-wrapper {
    @media only screen and (min-width: 481px) {
      width: 111px;
      display: flex;
      justify-content: center;
    }
  }

  &__icon {
    width: 111px;
    height: 64px;
    margin-bottom: 25px;

    @media only screen and (min-width: 481px) {
      margin-bottom: 0px;
    }

    &--second {
      width: 90px;
      height: 80px;
    }

    &--third {
      width: 60px;
      height: 84px;
    }

    &--fourth {
      width: 71px;
      height: 71px;
    }
  }

  &__text {
    @media only screen and (min-width: 481px) {
      @include mixins.flexbox(flex-start, flex-start, column);
      width: 80%;
    }
    @media only screen and (min-width: 993px) {
      width: 72%;
    }
  }

  &__headline {
    margin-bottom: 14px;
    @include mixins.font-main-regular;
    font-size: variables.$fonts-size-s-l;
    line-height: variables.$fonts-line-height-s-m;
    color: variables.$fonts-color-headers-small;

    @media only screen and (min-width: 481px) {
      margin-bottom: 16px;
      line-height: variables.$fonts-line-height-m-s;
    }
    @media only screen and (min-width: 993px) {
      margin-bottom: 16.56px;
    }
  }

  &__paragraph {
    @include mixins.font-secondary-regular;
    font-size: variables.$fonts-size-s-s;
    line-height: variables.$fonts-line-height-m-s;
    color: variables.$fonts-color-text;

    @media only screen and (min-width: 481px) {
      text-align: start;
    }
  }
}

//
// Price block - "Fork Subscription Pricing"
.prices-background {
  background-color: variables.$bg-color-page-block-dark;
}

.prices-background {
  min-width: 320px;
}

.prices-wrapper {
  @media only screen and (min-width: 481px) {
    padding-top: 90px;
    padding-bottom: 94px;
  }
  @media only screen and (min-width: 993px) {
    padding-top: 112px;
    padding-bottom: 73px;
  }
  @media only screen and (min-width: 1201px) {
    max-width: 1200px;
  }
}

.prices {
  display: grid;
  grid-template-columns: 299px;
  row-gap: 18px;
  padding-bottom: 12px;
  justify-content: center;

  @media only screen and (min-width: 643px) {
    grid-template-columns: 299px 299px;
    column-gap: 25px;
    row-gap: 30px;
    padding-bottom: 0px;
  }
  @media only screen and (min-width: 1135px) {
    grid-template-columns: 257px 257px 299px 257px;
    column-gap: 1.2%;
  }
  @media only screen and (min-width: 1201px) {
    grid-template-columns: 257px 257px 299px 257px;
    column-gap: 15px;
  }

  &__headline {
    @include mixins.font-main-stress;
    font-size: variables.$fonts-size-m-xl;
    line-height: variables.$fonts-line-height-l-l;
    color: variables.$fonts-color-headers-main;
    padding-bottom: 32px;

    @media only screen and (min-width: 481px) {
      font-size: variables.$fonts-size-xl-s;
      line-height: variables.$fonts-line-height-l-xl;
      padding-bottom: 39px;
    }
    @media only screen and (min-width: 993px) {
      pfont-size: variables.$fonts-size-xl-m;
      line-height: variables.$fonts-line-height-xl-xs;
      padding-bottom: 61px;
    }
  }
}

.prices__price-wrapper {
  @include mixins.flexbox(center, center, column);
  width: 100%;

  @media only screen and (min-width: 643px) {
    &:first-child {
      @include mixins.flexbox(flex-end, flex-end, column);
    }
    &:nth-child(2) {
      @include mixins.flexbox(flex-end, flex-start, column);
    }
    &:nth-child(3) {
      @include mixins.flexbox(flex-start, flex-end, column);
      height: 560px;
    }
    &:nth-child(4) {
      @include mixins.flexbox(center, flex-start, column);
    }
  }
  @media only screen and (min-width: 1135px) {
    &:first-child {
      @include mixins.flexbox(center, center, column);
    }
    &:nth-child(2) {
      @include mixins.flexbox(center, center, column);
    }
    &:nth-child(3) {
      @include mixins.flexbox(center, center, column);
      height: 560px;
    }
    &:nth-child(4) {
      @include mixins.flexbox(center, center, column);
    }
  }
}

.prices__price {
  @include mixins.flexbox(space-between, center, column);
  background-color: variables.$bg-color-block;

  @media only screen and (min-width: 993px) {
    width: 100%;
  }

  &__headline {
    @include mixins.flexbox(center, center, row);
    width: 100%;
    height: 91px;
    background-color: variables.$bg-color-block-header;
    @include mixins.font-main-regular;
    font-size: variables.$fonts-size-m-m;
    line-height: variables.$fonts-line-height-m-xl;
    color: variables.$fonts-color-headers-main;

    @media only screen and (min-width: 481px) {
      height: 97px;
    }
  }

  &__text {
    @include mixins.flexbox(space-between, center, column);
    padding: 30px 0px 38px;
  }

  &__number {
    margin-bottom: 20px;
    @include mixins.font-main-stress;
    font-size: variables.$fonts-size-xxl-s;
    line-height: variables.$fonts-line-height-xl-m;
    color: variables.$fonts-color-headers-main;

    & > span {
      @include mixins.font-main-regular;
    }
  }

  &__decor-line {
    width: 60px;
    border-bottom: solid 5px variables.$fonts-color-main;
    margin: 38px 0px 30px;

    @media only screen and (min-width: 993px) {
      pfont-size: variables.$fonts-size-xl-m;
      line-height: variables.$fonts-line-height-xl-xs;
      margin-bottom: 36px;
    }
  }

  &__options {
    @include mixins.font-main-regular;
    font-size: variables.$fonts-size-s-l;
    line-height: variables.$fonts-line-height-s-xl;
    color: variables.$fonts-color-headers-main;
  }

  &__options--margin {
    margin-bottom: 17px;

    @media only screen and (min-width: 481px) {
      margin-bottom: 0px;
    }
  }

  &--not-accent {
    width: 257px;
  }

  &--accent {
    background-color: variables.$bg-color-block-accent;
    width: 100%;

    & .prices__price__number {
      @media only screen and (min-width: 481px) {
        font-size: variables.$fonts-size-xxl-l;
        line-height: variables.$fonts-line-height-xl-xxxl;
      }
    }

    & .button {
      font-size: variables.$fonts-size-s-l;
      line-height: variables.$fonts-line-height-s-xl;
    }

    & .button--prices {
      width: 190px;
      height: 52px;

      @media only screen and (min-width: 481px) {
        margin-top: 83px;
      }
    }

    & .prices__price__text {
      padding: 14px 0px 47px;
    }

    & .prices__price__number {
      margin-bottom: 16px;
    }

    & .prices__price__decor-line {
      margin: 46px 0px 40px;
    }
  }

  &__headline--accent {
    background-color: variables.$bg-color-block-accent-header;
    height: 111px;
  }
}

.prices__price--not-accent--one .button--prices {
  margin-top: 57px;
}

.button--prices {
  width: 160px;
  height: 42px;
  margin-top: 39px;
  background-color: variables.$bg-color-block-button;
  color: variables.$fonts-color-headers-main;
  @include mixins.font-main-regular;
}

.block-text--prices {
  text-transform: uppercase;
  color: variables.$fonts-color-headers-main;

  @media only screen and (min-width: 481px) {
    line-height: variables.$fonts-line-height-s-m;
  }
}
